


.nandan_disp_pic {
    background: url(../assets/images/team/Nandan_I_P.png);
    background-size: 200px;
    background-repeat: no-repeat;
}

.dhruv_disp_pic {
    background: url(../assets/images/team/Dhruv_Kumar_Gupta.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.gurusha_disp_pic {
    background: url(../assets/images/team/Gurusha_Juneja.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.meenal_disp_pic {
    background: url(../assets/images/team/MeenalSharma_EventsandPublicityCoordinator.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.mustafa_disp_pic {
    background: url(../assets/images/team/Mustafa_Chasmai.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.opal_disp_pic {
    background: url(../assets/images/team/OpalHarinkhere_DesignCoordinator.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.yashasvi_disp_pic {
    background: url(../assets/images/team/Yashasvi_Ghadale.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.yashvardhan_disp_pic {
    background: url(../assets/images/team/Yashvardhan_Singh.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.saptarshi_disp_pic {
    background: url(../assets/images/team/SaptarshiDasgupta_Research_Executive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.adarsh_disp_pic {
    background: url(../assets/images/team/AdarshRoy_DesignExecutive.png);
    background-size: 200px;
    background-repeat: no-repeat;
}

.aditya_disp_pic {
    background: url(../assets/images/team/AdityaAgrawal_volunteer_.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.akash_disp_pic {
    background: url(../assets/images/team/Akash_Dhingra_Research_And_Web_Dev_Executive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.amit_disp_pic {
    background: url(../assets/images/team/AmitKansotiya_DesignExecutive_.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.ankita_disp_pic {
    background: url(../assets/images/team/Ankita_Ghosh_ResearchExecutive.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.ankit_disp_pic {
    background: url(../assets/images/team/AnkitMeena_ResearchExecutive.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.ashutosh_disp_pic {
    background: url(../assets/images/team/AshutoshGupta_EventsandPublicityExecutive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.dhruv_b_disp_pic {
    background: url(../assets/images/team/DhruvBagrecha_DesignExecutive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}


.dhruv_s_disp_pic {
    background: url(../assets/images/team/DhruvSaini_WebDevExecutive.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.gurarmaan_disp_pic {
    background: url(../assets/images/team/GurarmaanSinghPanjeta_ResearchExecutive.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.harshit_disp_pic {
    background: url(../assets/images/team/Harshitkalra_webdevExecutive.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.himanshu_disp_pic {
    background: url(../assets/images/team/HimanshuGauravSingh_ResearchEexecutive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.ishaan_disp_pic {
    background: url(../assets/images/team/IshaanJain_Volunteer.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.jayati_disp_pic {
    background: url(../assets/images/team/JayatiMadan_Executive_Eventsandpublicity.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.kartik_disp_pic {
    background: url(../assets/images/team/KartikSharma_Executive.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.khyati_disp_pic {
    background: url(../assets/images/team/khyatikaria_design.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.kirti_disp_pic {
    background: url(../assets/images/team/KirtiBagri_DesignExecutive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.mohit_disp_pic {
    background: url(../assets/images/team/MohitGoswami_Eventsandpublicity.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.mudit_disp_pic {
    background: url(../assets/images/team/MuditChopra_ResearchExecutive.png);
    background-size: 200px;
    background-repeat: no-repeat;
}
.mudrankit_disp_pic {
    background: url(../assets/images/team/MudrankitGupta_EventsandPublicityExecutive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.samyak_disp_pic {
    background: url(../assets/images/team/SamyakJain_volunteer.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.shradha_disp_pic {
    background: url(../assets/images/team/Shradha_webdevelopementanddesignexecutive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.soutrik_disp_pic {
    background: url(../assets/images/team/SoutrikMandal_ResearchExecutive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.sujal_disp_pic {
    background: url(../assets/images/team/Sujaljain_webexecutive.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.sukanya_disp_pic {
    background: url(../assets/images/team/SukanyaGhosal_Executive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
